// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/dark';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

button {
  min-width: 52;
  border-radius: 20;
  margin: 5;
  background-color: #E0457A;
  color: white;
}

text-field{

}