// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/dark';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

button {
  min-width: 50;
  border-radius: 20;
  margin: 10;
  //background-color: #E0457A;
  background-color: #004557;
  color: white;
  text-transform: none;
  font-size: 15;
  padding: 10,20;
}

text-field{
  padding: 10;
  margin: 10;
  border-color: #004557;
  border-bottom-width: 1;
}

.android button{
  border-radius: 30;
}